<% layout('/layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <h1>Edit SkateGround</h1>
    <form
      action="/skategrounds/<%= skateground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="skateground[title]">Title</label>
        <input
          class="form-control"
          type="text"
          name="skateground[title]"
          value="<%=skateground.title%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="skateground[location]">Location</label>
        <input
          class="form-control"
          type="text"
          name="skateground[location]"
          value="<%=skateground.location%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="skateground[location]"
          >Description</label
        >
        <textarea
          class="form-control"
          rows="4"
          id="description"
          name="skateground[description]"
          required
        >
<%=skateground.description%></textarea
        >
      </div>
      <div class="mb-3">
        <label for="skateground[image]" class="form-label">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="skateground[image]"
          value="<%=skateground.image%>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label" id="price-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">£$€</span>
          <input
            class="form-control"
            type="number"
            name="skateground[price]"
            id="price"
            aria-describedby="price-label"
            placeholder="0.00"
            step=".01"
            value="<%=skateground.price%>"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">
          Update Skateground
        </button>
      </div>
    </form>
    <a class="btn btn-warning" href="/skategrounds/<%= skateground._id %>"
      >Back to <%=skateground.title%></a
    >
  </div>
</div>
