<% layout('/layouts/boilerplate')%>
<div class="row">
  <div class="col-6">
    <%- include('../partials/flash.ejs')%>
    <div class="card mb-3">
      <img
        src="<%= skateground.image %>"
        class="card-img-top"
        alt="SkateGround"
      />
      <div class="card-body">
        <h5 class="card-title"><%= skateground.title %></h5>
        <h6 class="card-title text-muted"><%= skateground.location %></h6>
        <p class="card-text"><%= skateground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: £<%= skateground.price %></li>
      </ul>
      <div class="card-body">
        <a
          href="/skategrounds/<%=skateground._id%>/edit"
          class="btn btn-secondary text-nowrap mx-1"
          >Edit <%=skateground.title%></a
        >
        <form
          class="d-inline"
          action="/skategrounds/<%=skateground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger text-nowrap mx-1" type="submit">
            Delete <%=skateground.title%>
          </button>
        </form>
      </div>
      <div class="card-footer">
        <div class="text-muted">Updated: 2 days ago</div>
      </div>
    </div>
  </div>
  <!-- end details div-->
  <div class="col-6">
    <h2>Review the spot</h2>
    <form
      action="/skategrounds/<%=skateground._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <div class="">
          <label for="rating" class="form-label" id="rating">Rating</label>
          <input
            type="range"
            name="review[rating]"
            id="rating"
            min="1"
            max="5"
            class="form-range"
          />
        </div>
        <label for="review" class="form-label">Review</label>
        <textarea
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Nailed it</div>
      </div>

      <button class="btn btn-success">Submit review</button>
    </form>
    <div class="mb-3">
      <% if(skateground.reviews.length){ %>
      <h3>Reviews</h3>
      <!-- new review flash -->
      <%- include('../partials/flashReview.ejs')%>
      <!-- reviews loop -->
      <% for (let review of skateground.reviews){ %>
      <div class="mb-2 p-3 bg-light row">
        <div class="col-11">
          <b class="mb-2 d-inline-block">Rating: <%= review.rating %>/5</b>
          <p><%= review.body %></p>
        </div>
        <div class="col-1 d-flex justify-content-end align-items-end">
          <form
            action="/skategrounds/<%= skateground._id%>/reviews/<%=review._id%>?_method=DELETE"
            method="post"
          >
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
  <!-- end review div-->
</div>
