<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/stars.css" />
<div class="row">
  <div class="col-6">
    <%- include('../partials/flash.ejs')%>
    <div class="card mb-3">
      <img
        src="<%= skateground.image %>"
        class="card-img-top"
        alt="SkateGround"
      />
      <div class="card-body">
        <h5 class="card-title"><%= skateground.title %></h5>
        <h6 class="card-title text-muted"><%= skateground.location %></h6>
        <p class="card-text"><%= skateground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: £<%= skateground.price %></li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <h6 class="mb-0">Added by: <%= skateground.author.username %></h6>
        </li>
      </ul>
      <% if (currentUser && skateground.author.equals(currentUser._id)){ %>
      <div class="card-body">
        <a
          href="/skategrounds/<%=skateground._id%>/edit"
          class="btn btn-secondary text-nowrap mx-1"
          >Edit <%=skateground.title%></a
        >
        <form
          class="d-inline"
          action="/skategrounds/<%=skateground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger text-nowrap mx-1" type="submit">
            Delete <%=skateground.title%>
          </button>
        </form>
      </div>
      <% } %>
      <div class="card-footer">
        <div class="text-muted">Updated: 2 days ago</div>
      </div>
    </div>
  </div>
  <!-- end details div-->

  <div class="col-6">
    <% if(currentUser){ %>
    <h2>Review the spot</h2>
    <form
      action="/skategrounds/<%=skateground._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label for="review" class="form-label">Review</label>
        <textarea
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Nailed it</div>
      </div>
      <fieldset class="starability-basic">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="review[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <button class="btn btn-success">Submit review</button>
    </form>
    <% } %>
    <div class="mb-3">
      <% if(!currentUser) {%>
      <div class="mb-3 p-3 row border border-info">
        <div class="col">
          <a href="/login" class="link-dark">Login</a> or
          <a href="/register" class="link-dark">register</a> to leave a review.
        </div>
      </div>
      <% } %> <% if(skateground.reviews.length){ %>
      <h3>Reviews</h3>
      <!-- new review flash -->
      <%- include('../partials/flashReview.ejs')%>
      <!-- reviews loop -->
      <% for (let review of skateground.reviews){ %>
      <div class="mb-2 p-3 bg-light row">
        <div class="col-11">
          <h6 class="text-muted card-subtitle">
            <%= review.author.username %>
          </h6>
          <p class="starability-result" data-rating="<%=review.rating%>">
            Rated: <%=review.rating%>
          </p>
          <p><%= review.body %></p>
        </div>
        <% if (currentUser && review.author.equals(currentUser._id)){ %>
        <div class="col-1 d-flex justify-content-end align-items-end">
          <form
            action="/skategrounds/<%= skateground._id%>/reviews/<%=review._id%>?_method=DELETE"
            method="post"
          >
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
      <% } %> <% } %>
    </div>
  </div>

  <!-- end review div-->
</div>
