<% layout('/layouts/boilerplate')%>
    <h1><%= skateground.title %></h1>
    <h2> <%= skateground.location %>  </h2>
    <img src="<%= skateground.image %>" alt="Skatepark">
    <p><%= skateground.description %></p>
    
    <a href="/skategrounds/<%=skateground._id%>/edit">Edit <%=skateground.title%></a>
    <form action="/skategrounds/<%=skateground._id%>?_method=DELETE" method="POST"><button class="btn btn-warning" type="submit">Delete <%=skateground.title%></button></form>
    <footer>
        <a href="/skategrounds">All Skategrounds</a>
    </footer>